@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    @apply m-0;
    @apply p-0;
    @apply box-border;
  }
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  a,
  button {
    @apply cursor-pointer;
  }
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: #46e258;
}

.projects-button-container:hover .projects-icon,
.projects-button-container:focus .projects-icon {
  fill: black;
  
}
